# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite specific
.vite

# System files
Thumbs.db
desktop.ini

# Legacy and Clutter
About.html
Contact.html
Experience.html
Internships.html
Projects.html
Skills.html
Prometheus NX 59650/
copy_assets.js
copy_script.js
cleanup.py
gitignore
